@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


/*--- Banner Slid --*/
.carousel-inner h1{
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #000000;
}

.mt-5, .my-5 {
  margin-top: 11rem!important;
}

a{
  
  color:#000000;
}

a:hover{
  text-decoration: none;
  color:#868686;
}

.navbar .container-fluid .nav-item a:hover{
  color:#868686;
}


/*---Section Feedback --*/


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  max-width: 980px;
  margin: 0 auto;
  gap: 40px;
}

.card{
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px 40px;

  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.171);
}


.card .user{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;

}
.card h3{
  margin-bottom: 5px;
}

.feedback{
  margin-top: 20px;
  text-align: center;

  font-size: 18px;
}
.star{
  width: 20px;
  
}

svg{
  color: #ffffff;
}

.stars svg{
  color: #ff9807;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*--- Footer ---*/


:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #505050;
    text-decoration: none;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}


/*--- Eventos ---*/




.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  position: relative;
  margin: 24px;
  width: 320px;
  height: 570px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(112, 112, 112, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}

.event-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.title,
.price {
  color: #2f2f2f;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #2c2c2c;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #18537a;
  font-weight: bolder;
}

.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


/*--- Sobre ---*/
.e9_67{
  margin: auto;
  background-color:#d9d9d9;
  height:370px;
  width:1165px;
  border-radius:185px 0px 140px 185px;

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.e9_68{
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

/*LOCALIZAção*/

.e9_81 { 

	width:1160px;
	height:738px;
	position:relative;
  margin: auto;
  margin-top: 165px;
  margin-bottom: 225px;
}
.e9_82 { 
  
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1160px;
	height:550px;
	position:absolute;
	left:0px;
	top:188px;
}
.e9_83 { 

	width:564px;
	height:638px;
	position:absolute;
	left:521px;
	top:0px;
	background-image:url(./assets/local.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_84 { 

	background-color:rgba(161.76561892032623, 161.76561892032623, 161.76561892032623, 1);
	width:177px;
	height:42px;
	position:absolute;
	left:292px;
	top:536px;
	border-top-left-radius:42px;
	border-top-right-radius:42px;
	border-bottom-left-radius:42px;
	border-bottom-right-radius:42px;
}
.e9_85 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:18px;
	position:absolute;
	left:305px;
	top:548px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e9_86 { 
	width:28px;
	height:29.82046890258789px;
	position:absolute;
	left:61px;
	top:304px;
}
.e9_87 { 
	width:28px;
	height:29.82046890258789px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_88 { 
	background-color:rgba(255, 255, 255, 0);
	width:3.5px;
	height:2.9820468425750732px;
	position:absolute;
	left:12.249996185302734px;
	top:10.437210083007812px;
}
.e9_89 { 
	width:397px;
	height:0px;
	position:absolute;
	left:74px;
	top:342px;
}
.e9_90 { 
	color:rgba(0, 0, 0, 1);
	width:332px;
	height:69px;
	position:absolute;
	left:75px;
	top:384px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.e9_63 { 
	width:1101px;
	height:479px;
	position:relative;
  margin: auto;
  margin-top: 187px;
  margin-bottom: 187px;
}
.e9_64 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:39px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e9_65 { 
	width:509px;
	height:479px;
	position:absolute;
	left:592px;
	top:0px;
	border-top-left-radius:63px;
	border-top-right-radius:63px;
	border-bottom-left-radius:63px;
	border-bottom-right-radius:63px;
	background-image:url(./assets/Rectangle\ 11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_66 { 
	color:rgba(0, 0, 0, 1);
	width:554px;
	height:320px;
	position:absolute;
	left:0px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e15_271 { 
	width:720px;
	height:1877px;
	background-image:url(./assets/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
  position: static;
}

.containertabela{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 200px;
  font-size: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');



.container1 {
    width: 100%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6B6B6B;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #4e4e4e;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6B6B6B;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6B6B6B;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6B6B6B;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #505050;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}